<nav class="navbar navbar-default navbar-fixed-top probootstrap-navbar">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html"></a>
        </div>

        <div id="navbar-collapse" class="navbar-collapse collapse">
            <ul class="navs navbar-nav navbar-right">
                <li><a href="start">首页</a></li>
                <li><a href="jls1.html">全省地图</a></li>
                <li><a href="charts.html">数据可视化</a></li>
                <li class="dropdown"><a href="" onclick="openUrl('')">智能数据分析</a>
                    <ul class="dropdown-menu">
                        <li><a href="bookings.html">个金部数据分析</a></li>
                        <li class="dropdown-submenu"><a href="">公司部数据分析</a>
                            <ul class="dropdown-menu">
                                <li><a href="ccbdata.html">小企业数据分析(tables)</a></li>
                                <li><a href="">中型企业数据分析</a></li>
                                <li><a href="">企业贷款智能分析</a></li>
                                <li><a href="6Dchart.html/">6D数据分析</a></li>
                            </ul>
                        </li>
                        <li><a href="">机构数据分析</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">分行本部</a>
                    <ul class="dropdown-menu">
                        <li><a href="gallery">机构业务部</a></li>
                        <li><a href="portfolio.html">金融科技部</a></li>
                        <li><a href="portfolio-single.html">公司部</a></li>
                        <li><a href="services.html">房金部</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">网站功能</a>
                    <ul class="dropdown-menu">
                        <li><a href="datain.html">数据导入</a></li>
                        <li><a href="ui.html">Ui使用</a></li>
                        <li><a href="bookings.html">bookings</a></li>
                        <li><a href="calendar.html">calendar</a></li>
                        <li><a href="file_managers.html">文件管理</a></li>
                        <li><a href="finances.html">财务管理</a></li>
                        <li><a href="form_demo.html">form演示</a></li>
                        <li><a href="form_elements.html">form元素</a></li>
                        <li><a href="form_validator.html">form验证器</a></li>
                        <li><a href="gallery.html">画廊</a></li>
                        <li><a href="login.html">登录界面</a></li>
                        <li><a href="product_edit.html">产品编辑</a></li>
                        <li><a href="tables.html">表格</a></li>
                        <li><a href="pages.html">页面</a></li>
                    </ul>
                </li>
                 <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">附加功能</a>
                    <ul class="dropdown-menu">
                        <li><a href="">文本智能分析</a></li>
                        <li><a href="">附加功能1</a></li>
                        <li><a href="">附加功能2</a></li>
                        <li><a href="">附加功能3</a></li>
                        <li><a href="">附加功能4</a></li>

                    </ul>
                </li>
                <li class="probootstra-cta-button last"><a href="logoutuser">退出登录</a></li>
            </ul>
        </div>
    </div>
</nav>

<section class="flexslider">
    <ul class="slides">
        <li style="background-image: url(/static/bootstrap/img/slider_1.png)" class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="probootstrap-slider-text text-center">
                            <br><br><br><br><br>
                            <h1 class="probootstrap-heading">数据可视化分析</h1>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li style="background-image: url(/static/bootstrap/img/slider_2.jpg)" class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="probootstrap-slider-text text-center">
                            <br><br><br><br><br>
                            <h1 class="probootstrap-heading">科技引领业务</h1>
                        </div>
                    </div>
                </div>
            </div>

        </li>
        <li style="background-image: url(/static/bootstrap/img/slider_3.jpg)" class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="probootstrap-slider-text text-center">
                            <br><br><br><br><br>
                            <h1 class="probootstrap-heading">智能数据分析</h1>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</section>


<!-- Modal signup -->
<div class="modal fadeInUp probootstrap-animated" id="signupModal" tabindex="-1" role="dialog"
     aria-labelledby="signupModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog modal-md vertical-align-center">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-cross"></i>
                </button>
                <div class="probootstrap-modal-flex">
                    <div class="probootstrap-modal-figure"
                         style="background-image: url(/static/img/modal_bg.jpg);"></div>
                    <div class="probootstrap-modal-content">
                        <form action="#" class="probootstrap-form">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Re-type Password">
                            </div>
                            <div class="form-group clearfix mb40">
                                <label for="remember" class="probootstrap-remember"><input type="checkbox"
                                                                                           id="remember"> Remember
                                    Me</label>
                                <a href="#" class="probootstrap-forgot">Forgot Password?</a>
                            </div>
                            <div class="form-group text-left">
                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="submit" class="btn btn-primary btn-block" value="Sign Up">
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END modal signup -->


